/* Estilos gerais para o corpo da página */
body {
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container da área administrativa */
.admin-container {
    text-align: center;
}

/* Estilo do texto "Bem-vindo" */
.admin-container h1 {
    font-size: 3em; /* Tamanho grande */
    font-weight: normal; /* Fonte sem negrito */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove paddings */
}